*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 12px black;
    padding: 12px;
    margin: auto;
}

.sombra-vermelha{
    box-shadow: 0px 0px 12px red;
}
.sombra-azul{
    box-shadow: 0px 0px 12px blue;
}
.sombra-amarela{
    box-shadow: 0px 0px 12px yellow;
}